.background {
    background: #191414;
    min-height: 320px;
    min-width: 300px;
    color: white;
    font-size: 12px;
    border:#7396ff; 
    border-width:6px; 
    border-style:solid; 
    margin: 0px; 
    padding: 15px;
}


.text {
    text-align: center;
    color: white;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.icon {
    width: 64px;
    height: 64px;
}